.CConsejeros {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    }

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.Fondo{
    position: absolute;
    height: 50vmin;
    width: 50vmin;
left: 0%;
right: 0%;
top: 20%;
bottom: 0%;

background: #668DC0;
border-radius: 50px;
}

.Logo{
    position: absolute;
    height: 15vmin;
    width: 15vmin;
left: 35%;
right: 0%;
top: 5%;
bottom: 0%;
  /* Gray 200 */
background: #B3B3B3;
border-radius: 100px;
}

.Container{
    position: relative;
    width: 1000px;
    height: 1024px;
    left: 25%;
    
    background: #FFFFFF;
}